nav{
  background-color: #D8F793;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Courier;

}
.niños1{
  background-color: #FFC6D9;
  padding: 3px 10px;
  border: #C0DA74 5px solid;
  border-radius: 20px;

  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);



}
.adultos1{
  background-color: #FFC6D9;
  padding: 3px 10px;
  border: #C0DA74 5px solid;
  border-radius: 20px;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);

}
.adultosmayores1{
  background-color: #FFC6D9;
  padding: 3px 10px;
  border: #C0DA74 5px solid;
  border-radius: 20px;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);

}
.adolescentes1{
  background-color: #FFC6D9;
  padding: 3px 10px;
  border: #C0DA74 5px solid;
  border-radius: 20px;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);

}

.tituloniños{
  font-family: Courier;
  font-size: 60px;
  background-color: #C0DA74;
}
.tituloadolescentes{
  font-family: Courier;
  font-size: 60px;
  background-color: #C0DA74;
}
.tituloadultos{
  font-family: Courier;
  font-size: 60px;
  background-color: #C0DA74;
}
.tituloadultosmayores{
  font-family: Courier;
  font-size: 60px;
  background-color: #C0DA74;
}

.niños{
  margin-right: 120px;
  font-family: Courier;


 }
.adolescentes{
  margin-right: 60px;
  font-family: Courier;
}
.adultos{
  margin-left: 60px;
  font-family: Courier;
}
.adultosmayores {
  margin-left: 120px;
  font-family: Courier;
}
.titulo1{
  background-color:#FFC6D9; width: 100%; height: 100px;
  font-family: Courier;
  font-size: 90px;
  text-align: center

}
.niñosfoto{
  width: 250px;
  height: 187.5px;
}

.adolescentesfotos{
  width: 250px;
  height: 187.5px;
}
.caja{
  height: 70px;
}
.like{
}

.reaccion{
  height: 20px;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.info{
  width : 250px;
  background-color: rgba(31, 31, 31, 0.9);
}

body{
  background-color:#C0DA74;
  margin-left:  10px
}
.logo1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2%;
}
main{
  background-color:#FFC6D9;
  width: 100%;
  height: 100%;
  text-align: center;
}
.img1{
  margin-top: 30px;
  margin-bottom: 10px;
  width: auto;

}
.link{
  font-family: Courier;

}

}
article{
  background-color: #20A4F3; width: 40%;

}
footer{
  background-color:#FF99C9;
  width: 100%;
  height:20px;
  margin-top:100px;
}

aside{
  background-color:pink;display:inline-block;text-align:center;width: 100px;height: 400px;float:left
}
#cuadrito{
  width:100px;
  padding:50px;
  margin:00px auto;
  border-radius:10px;
  font-weight: bold;
  color: #DAA3A3;
}
#contador{
    font-size: 50px;
  font-weight: bold;
  color: #a3bad8;
}
.portada{
  background-color: white;
  padding:35px 35px 35px 35px;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
  width: 40%;
}
.p1{
  font-family: Courier;
}
